@use "variables" as *;

.contact_section {
  padding-block: 3em;
  &_heading {
    h1 {
      font-size: 3.5rem;
      color: var(--dark-clr);
    }
  }
  &_body {
    display: flex;
    flex-direction: row;
    &_form {
      width: 50%;
      padding-inline: 20px;
      #name,
      #email,
      #message {
        // outline: 1px solid red;
        display: flex;
        flex-direction: column;
        gap: 5px 0;
        padding-block: 20px;
        label {
          font-size: 1em;
          color: var(--dark-clr);
          font-weight: 500;
          letter-spacing: 1px;
        }
        textarea,
        input {
          font-size: 1em;
          background-color: var(--Xlight-grey);
          border: 1px solid $light-grey;
          color: var(--dark-clr);
          padding: 8px;
          border-radius: 4px;
          box-shadow: $shadow;
          outline: none;
        }
        :where(textarea, input)::placeholder {
          font-size: 1.15em;
          font-family: $font;
          color: var(--dark-grey);
        }
      }
      #button {
        button {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 0 6px;
          background-color: var(--dark-clr);
          color: var(--light-clr);
          padding: 0.75em 1.5em;
          font-size: 1em;
          border-radius: 100px;
          outline: none;
          border: none;
          cursor: pointer;

          svg {
            width: 1.1em;
            height: 1.1em;
          }
        }
      }
    }
    &_animation {
      width: 50%;
      position: relative;
      .animation-wrapper {
        width: 50%;
        padding-bottom: 50%;
      }

      .sphere-animation {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 580px;
        height: 580px;
        margin: -290px 0 0 -290px;
      }

      .sphere {
        scale: 0.75;
        path {
          fill: url(#sphereGradient);
          stroke-width: 1px;
          stroke: rgba(80, 80, 80, 0.35);
          backface-visibility: hidden;
        }
      }
      @media (min-width: 500px) {
        .sphere path {
          stroke-width: 0.4px;
        }
      }
    }
  }
}

@include breakpoint(large) {
  .contact_section {
    &_body {
      flex-direction: column;
      &_form {
        width: calc(90% - 10px);
        padding-inline: 1em;
      }
      &_animation {
        display: none;
      }
    }
  }
}

@include breakpoint(small) {
  .contact_section {
    &_heading {
      h1 {
        font-size: 2.5em;
        padding-block: 20px;
      }
    }
    &_body {
      &_form {
        #button {
          display: flex;
          justify-content: center;
          align-items: center;
          button {
            padding: 0.75em 3.5em;
          }
        }
      }
    }
  }
}
